.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spinner_small {
  width: 24px;
  height: 24px;
}

.spinner_medium {
  width: 36px;
  height: 36px;
}

.spinner_large {
  width: 48px;
  height: 48px;
}

.spinner__circle {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #D8DEE9;
  border-radius: 100%;
  animation: spin 800ms infinite linear;
}

.spinner__circle_inner,
.spinner__circle_gradient {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transform: translate(-50%, -50%);
}

.spinner__circle_inner {
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 100%;
}

.spinner__circle_gradient {
  top: -45%;
  left: 11%;
  background-color: #D8DEE9;
  background-image: linear-gradient(0deg, #D8DEE9 0%, #5E6A8A 50%);
  transform: rotate(-45deg);
}

.spinner_default .spinner__circle {
  background-color: #626C85;
}

.spinner_default .spinner__circle_inner {
  background-color: white;
}

.spinner_default .spinner__circle_gradient {
  background-color: #626C85;
  background-image: linear-gradient(0deg, #626C85 0%, #D8DEE9 50%);
}

.spinner_blue .spinner__circle {
  background-color: #5E81AC;
}

.spinner_blue .spinner__circle_inner {
  background-color: white;
}

.spinner_blue .spinner__circle_gradient {
  background-color: #5E81AC;
  background-image: linear-gradient(0deg, #5E81AC 0%, #D8DEE9 50%);
}

.spinner_colorful .spinner__circle {
  background-color: #626C85;
}

.spinner_colorful .spinner__circle_inner {
  background-color: white;
}

.spinner_colorful .spinner__circle_gradient {
  background-color: #626C85;
  background-image: linear-gradient(45deg, #626C85 0%, #5E81AC 50%, #81A1C1 75%, #D8DEE9 100%);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}