.file-container {
  width: 100%;
  height: 2.75rem;
  display: flex;
  align-items: center;

  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;

  transition: background-color 0.5s ease-in-out;
}

.file-container:hover {
  background-color: #F4F6FF;
}

.file-container__icon {
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 0.25rem;
}

.file-container__text_secondary {
  font-weight: 400;
  
  color: var(--main-secondary-text-color);
}

.file-container__title {
  width: 6.5rem;
  height: 1.938rem;
  display: inline-block;

  margin-right: 0.5rem;

  line-height: 1.938rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-container__date {
  max-width: 4rem;
  display: inline-block;

  margin-right: 1rem;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-container__dropdown-button {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border-radius: 0.25rem;

  background: none;
  border: none;
  cursor: pointer;

  transition: background-color 0.5s ease-in-out;
}

.file-container__dropdown-button:hover {
  background-color: #F0F2FF;
}

.file-container__dropdown-button__icon {
  width: 1rem;
  height: 1rem;

  mask-image: url('/dropdown.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #09090966;

  transition: background-color 0.3s ease;
}

.file-container__dropdown-button:hover .file-container__dropdown-button__icon {
  background-color: var(--main-button-color);
}

.file-container__dropdown-wrapper {
  position: relative;
}

.file-container__dropdown-menu {
  width: 15rem;
  max-height: 80vh;
  position: absolute;
  top: 100%;
  right: 0;

  z-index: 1000;
  margin-top: 0.25rem;
  border-radius: 0.5rem;

  overflow-y: auto;

  background-color: white;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.file-container:last-child .file-container__dropdown-menu,
.file-container:nth-last-child(2) .file-container__dropdown-menu,
.file-container:nth-last-child(3) .file-container__dropdown-menu {
  bottom: 100%;
  top: auto;

  margin-top: 0;
  margin-bottom: 0.25rem;
}

@media (max-height: 500px) {
  .file-container:nth-last-child(n+1):nth-last-child(-n+5) .file-container__dropdown-menu {
    bottom: 100%;
    top: auto;

    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

.file-container__dropdown-menu__item {
  padding: 1rem;
  width: 100%;

  text-align: left;

  cursor: pointer;
  border: none;
  background: none;
  color: #152131;
  transition: background-color 0.3s ease;
}

.file-container__dropdown-menu__item:hover {
  background-color: #F0F2FF;
}

.file-container__dropdown-menu__item:disabled {
  cursor: not-allowed;
  color: #A8A8A8;
}

.file-container__dropdown-menu__item:disabled:hover {
  background-color: transparent;
}

.file-container__dropdown-menu__item_delete {
  color: var(--main-error-color);
}

.file-container__dropdown-menu__item_delete:hover {
  background-color: rgba(229, 57, 53, 0.1);
}
