.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: white;
}

.form__header {
  width: 100%;

  padding: 16px;

  border-bottom: 1px solid #e5e7eb;
}

.form__title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  color: #1a1a1a;
}

.form__nav {
  display: flex;
  align-items: center;

  margin-top: 16px;
}

.form__back-link {
  display: flex;
  align-items: center;

  color: #374151;
  text-decoration: none;
  font-size: 14px;
}

.form__back-icon {
  width: 24px;
  height: 24px;
}

.form__back-text {
  margin-left: 8px;
}

.form__content {
  flex: 1;

  padding: 16px;
}

.form__description {
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 1.4;

  color: #4b5563;
}

.form__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__field {
  width: 100%;
}

.form__checkbox-container {
  width: 100%;
}

.form__checkbox-label {
  display: flex;
  align-items: center;

  font-size: 14px;
}

.form__checkbox {
  width: 16px;
  height: 16px;

  margin-right: 8px;
  accent-color: var(--main-button-color);
}

.form__checkbox:checked {
  accent-color: var(--main-button-color);
}

.form__checkbox-text {
  color: #374151;
}

.form__checkbox-description {
  margin-top: 4px;
  margin-left: 24px;

  font-size: 12px;
  line-height: 1.4;

  color: #6b7280;
}

.form__button-container {
  width: 100%;

  margin-top: 1.125rem;
}

.form__save-button {
  max-width: 5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form__footer {
  width: 100%;

  padding: 16px;
  border-top: 1px solid #e5e7eb;

  text-align: center;
}

.form__footer-text {
  font-size: 14px;

  color: #6b7280;
}
